*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body,html{
    height: 100%;
}

/*** Classes Auxiliares ***/
.clear{clear: both;}
.center{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}


/******/

            /*Inicio da Página*/

                /*Aqui começa o Header*/
header{padding: 20px 2%;}
header .logo img{
    width: 236px;
    float: left;
}
header .mobile i{display: none;}
header .mobile ul{display: none;}
header .desktop{float: right;}
header .desktop ul{list-style: none}
header .desktop ul li{
    float: left;
    padding: 0 16px;
    position: relative;
    top: 8px;
}
header .desktop ul li a{
    color: #b4b4b4;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}
        /*Responsivo: Header*/
    /*768px*/
    @media screen and (max-width: 768px){
        header .desktop{display: none;}
        header .mobile i{display: initial;}
        header .mobile i{
            color: slategrey ;
            float: right;
            font-size: 35px;
        }
        header .mobile ul{
            /*display: initial;*/
            list-style: none;
            width: 100%;
            position: absolute;
            top: 80px;
            left: 0;
        }
        header .mobile ul li{
            display: inline-block;
            width: 100%;
            padding: 3px 0;
            text-align: center;
        }
        header .mobile ul li a{
            color: #b4b4b4;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    /*580px*/
    @media screen and (max-width: 580px){
        header .logo img{
            width: 190px;
        }
    }

                /*Aqui termina o Header*/

            /*Aqui começa a sessão Mosaico*/
section.mosaico .center{
    display: flex;
}
.wrapper-mosaico{
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #cccccc;
    border: 5px solid white;
}
            /*Aqui termina a sessão Mosaico*/

            /*Aqui começa a sessão Serviços*/
section.servicos .center{
    position: relative;
    top: -30px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.servicos-single h2{
    font-size: 15px;
    font-weight: normal;
}
.servicos-single p{
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
}
.servicos-single{
    color: white;
    background-image: url(../images/icone_dente.png);
    background-size: 17px;
    background-position: center 94%;
    background-repeat: no-repeat;
}
.servicos-single:nth-of-type(1){
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
}
.servicos-single:nth-of-type(2){
    width: 40%;
    padding: 80px 2%;
    background-color: #688293;
    background-image: none;
}
.servicos-single:nth-of-type(3){
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
}
        /*Responsivo: Serviços*/
    /*768px*/
    @media screen and (max-width: 768px){
        
        section.servicos .center{
            flex-direction: column;
        }
        .servicos-single:nth-of-type(1){
            width: 90%;
            max-width: 350px;
            padding: 40px 2%;
        }
        .servicos-single:nth-of-type(2){
            width: 90%;
            max-width: 380px;
            padding: 50px 2%;
        }
        .servicos-single:nth-of-type(3){
            width: 90%;
            max-width: 350px;
            padding: 40px 2%;
        }
    }
    /*580px*/
    @media screen and (max-width: 580px){
        
        section.servicos .center{
            top: -20px;
        }
    }
            /*Aqui termina a sessão Serviços*/

        /*Aqui inicia a sessão Perfil-Container*/
section.perfil-container .center{
    max-width: 800px;
    padding: 40px 0;
}
.wrapper-perfil-1{
    position: relative;
    width: 100%;
    padding-top: 60%;
}
.wrapper-perfil-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.wrapper-perfil-2 .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url(../images/img_perfil.png);
    background-position: center;
    background-size: 100% 100%;
}
.wrapper-perfil-2 .text-perfil{
    width: 60%;
    padding: 0 30px;
}
.wrapper-perfil-2 .text-perfil h2{
    font-size: 18px;
    color: #698293;
}
.wrapper-perfil-2 .text-perfil p{
    font-size: 14px;
    color: #4b4b4b;
    margin-top: 8px;
}

        /*Responsivo: perfil-container*/
    /*768px*/
    @media screen and ( max-width: 768px){
        .wrapper-perfil-1{
            padding-top: 0;
        }
        .wrapper-perfil-2{
            position: static;
            height: auto;
            display: inline-block;
            text-align: center;
        }
        .wrapper-perfil-2 .img-perfil{
            width: 50%;
            padding-top: 70%;
            height: auto;
            display: inline-block;
            position: static;
        }
        .wrapper-perfil-2 .text-perfil{
            width: 100%;
            padding: 0 30px;
            text-align: justify;
        }
    }
    /*580px*/
    @media screen and ( max-width: 580px){
        .wrapper-perfil-2 .img-perfil{
            width: 80%;
            padding-top: 110%;
            height: auto;
            display: inline-block;
        }
    }

        /*Aqui termina a sessão Perfil-Container*/

            /*Aqui inicia a sessão Vídeos*/
.box-video{
    position: relative;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    float: left;
    border: 3px solid white;
}
.box-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

        /*Responsivo: Vídeos*/
    /*768px*/
    @media screen and ( max-width: 768px ){
        section.videos{
            text-align: center;
        }
        .box-video{
            float: none;
            width: 70%;
            padding-top: calc(70% * 0.6);
            border: 3px solid white;
            display: inline-block;
        }
    }
     /*580px*/
     @media screen and ( max-width: 580px ){
        .box-video{
            width: 100%;
            padding-top: calc(100% * 0.6);
        }
    }

            /*Aqui termina a sessão Vídeos*/

        /* Aqui inicia a sessão tratamentos */
section.tratamentos{
    padding: 70px 0;
}
section.tratamentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}
section.tratamentos .center{
    padding: 80px 0;
}
.wrapper-tratamentos{
    width: 33.3%;
    float: left;
}
.tratamento-single{
    padding: 20px;
}
.tratamento-single h2{
    color: #737373;
    font-size: 18px;
}
.tratamento-single p{
    color: #b4b4b4;
    font-size: 13px;
    padding: 10px 0;
}

        /* Aqui termina a sessão tratamentos */