*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body,html{
    height: 100%;
}

/*** Classes Auxiliares ***/
.clear{clear: both;}
.center{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.w50{width: 50%;}
.w100{width: 100%;}
/******/

            /*Inicio da Página*/

                /*Aqui começa o Header*/
header{padding: 20px 2%;}
header .logo img{
    width: 236px;
    float: left;
}
header .mobile i{display: none;}
header .desktop{float: right;}
header .desktop ul{list-style: none}
header .desktop ul li{
    float: left;
    padding: 0 16px;
    position: relative;
    top: 8px;
}
header .desktop ul li a{
    color: #b4b4b4;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

nav.menu-mobile ul{display: none;}

        /*Responsivo: Header*/
    /*768px*/
    @media screen and (max-width: 780px){
        header .desktop{display: none;}
        header .mobile i{display: initial;}
        header .mobile i{
            cursor: pointer;
            color: slategrey ;
            float: right;
            font-size: 35px;
        }
        nav.menu-mobile ul{
            /*display: initial;*/
            list-style: none;
            width: 100%;
        }
        nav.menu-mobile ul li{
            display: inline-block;
            width: 100%;
            padding: 3px 0;
            text-align: center;
            background-color: rgb(250, 250, 250);
        }
        nav.menu-mobile ul li a{
            color: #b4b4b4;
            width: 100%;
            text-decoration: none;
            font-size: 14px;
            text-transform: uppercase;
            display: inline-block;
        }
        nav.menu-mobile ul li a:hover{
            background-color: rgb(200, 200, 200);
            color: white; 
        }
    }
    /*580px*/
    @media screen and (max-width: 580px){
        header .logo img{
            width: 190px;
        }
    }

                /*Aqui termina o Header*/

            /*Aqui começa a sessão Mosaico*/
section.mosaico .center{
    display: flex;
}
.wrapper-mosaico{
    width: calc(100% / 6);
}
.img-mosaico-single{
    width: 100%;
    padding-top: 100%;
    background-color: #cccccc;
    border: 5px solid white;
}
            /*Aqui termina a sessão Mosaico*/

            /*Aqui começa a sessão Serviços*/
section.servicos .center{
    position: relative;
    top: -30px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.servicos-single h2{
    font-size: 15px;
    font-weight: normal;
}
.servicos-single p{
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
}
.servicos-single{
    color: white;
    background-image: url(../images/icone_dente.png);
    background-size: 17px;
    background-position: center 94%;
    background-repeat: no-repeat;
}
.servicos-single:nth-of-type(1){
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
}
.servicos-single:nth-of-type(2){
    width: 40%;
    padding: 80px 2%;
    background-color: #688293;
    background-image: none;
}
.servicos-single:nth-of-type(3){
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
}
        /*Responsivo: Serviços*/
    /*768px*/
    @media screen and (max-width: 768px){
        
        section.servicos .center{
            flex-direction: column;
        }
        .servicos-single:nth-of-type(1){
            width: 90%;
            max-width: 350px;
            padding: 40px 2%;
        }
        .servicos-single:nth-of-type(2){
            width: 90%;
            max-width: 380px;
            padding: 50px 2%;
        }
        .servicos-single:nth-of-type(3){
            width: 90%;
            max-width: 350px;
            padding: 40px 2%;
        }
    }
    /*580px*/
    @media screen and (max-width: 580px){
        
        section.servicos .center{
            top: -20px;
        }
    }
            /*Aqui termina a sessão Serviços*/

        /*Aqui inicia a sessão Perfil-Container*/
section.perfil-container .center{
    max-width: 1000px;
    padding: 40px 0;
}
.wrapper-perfil-1{
    position: relative;
    width: 100%;
    padding-top: 50%;
}
.wrapper-perfil-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.wrapper-perfil-2 .img-perfil{
    width: 40%;
    height: 100%;
    background-image: url(../images/img_perfil.png);
    background-position: center;
    background-size: 100% 100%;
}
.wrapper-perfil-2 .text-perfil{
    width: 60%;
    padding: 0 30px;
}
.wrapper-perfil-2 .text-perfil h2{
    font-size: 18px;
    color: #698293;
}
.wrapper-perfil-2 .text-perfil p{
    font-size: 14px;
    color: #4b4b4b;
    margin-top: 8px;
}

        /*Responsivo: perfil-container*/
    /*768px*/
    @media screen and ( max-width: 768px){
        .wrapper-perfil-1{
            padding-top: 0;
        }
        .wrapper-perfil-2{
            position: static;
            height: auto;
            display: inline-block;
            text-align: center;
        }
        .wrapper-perfil-2 .img-perfil{
            width: 50%;
            padding-top: 70%;
            height: auto;
            display: inline-block;
            position: static;
        }
        .wrapper-perfil-2 .text-perfil{
            width: 100%;
            padding: 0 30px;
            text-align: justify;
        }
    }
    /*580px*/
    @media screen and ( max-width: 580px){
        .wrapper-perfil-2 .img-perfil{
            width: 80%;
            padding-top: 110%;
            height: auto;
            display: inline-block;
        }
    }

        /*Aqui termina a sessão Perfil-Container*/

            /*Aqui inicia a sessão Vídeos*/
.box-video{
    position: relative;
    width: 33.3%;
    padding-top: calc(33.3% * 0.6);
    float: left;
    border: 3px solid white;
}
.box-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

        /*Responsivo: Vídeos*/
    /*768px*/
    @media screen and ( max-width: 768px ){
        section.videos{
            text-align: center;
        }
        .box-video{
            float: none;
            width: 70%;
            padding-top: calc(70% * 0.6);
            border: 3px solid white;
            display: inline-block;
        }
    }
     /*580px*/
     @media screen and ( max-width: 580px ){
        .box-video{
            width: 100%;
            padding-top: calc(100% * 0.6);
        }
    }

            /*Aqui termina a sessão Vídeos*/

        /* Aqui inicia a sessão Tratamentos */
section.tratamentos{
    padding: 70px 0;
}
section.tratamentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}
section.tratamentos .center{
    padding: 80px 0;
}
.wrapper-tratamentos{
    width: 33.3%;
    float: left;
}
.tratamento-single{
    padding: 20px;
}
.tratamento-single h2{
    color: #737373;
    font-size: 18px;
}
.tratamento-single p{
    color: #b4b4b4;
    font-size: 13px;
    padding: 10px 0;
}

        /* Aqui termina a sessão Tratamentos */

        /* Aqui inicia a sessão Depoimentos */
section.depoimentos{padding: 50px 0;}
section.depoimentos > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}
section.depoimentos > .center{
    max-width: 400px;
    padding: 50px 0;
}
section.depoimentos{ text-align: center;}
.single-depoimento quote{
    font-size: 15px;
    color: #b4b4b4;
}
.perfil-depoimento{padding: 15px 0;}
.perfil-depoimento img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.perfil-depoimento span{
    position: relative;
    top: 8px;
    font-size: 13px;
    color: #b4b4b4;
    vertical-align: top;
}

        /* Aqui termina a sessão Depoimentos */

        /* Aqui inicia a sessão Redes Sociais */
    /*instagran*/
.call-instagran{
    width: 100%;
    padding: 40px 0;
    background: #98a5ae;
    text-align: center;
}
.call-instagran p{
    color: white;
    font-size: 13px;
    line-height: 23px;
}
    /**/
    /*Mozaico Redes*/
.mosaico-redes{
    width: 100%;
}
.img-single{
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: #cccccc;
    border: 5px solid white;
}
    /*Responsivo: Mosaico-redes*/
    /*1024px*/
    @media screen and (max-width: 1024px){
        .img-single{
            width: calc(100% / 6);
            padding-top: calc(100% / 6);
        }
        .mosaico-redes div:nth-of-type(1n+7){
            display: none;
        }
    }
    /*768px*/
    @media screen and (max-width: 768px){
        .img-single{
            width: calc(100% / 3);
            padding-top: calc(100% / 3);
        }
        .mosaico-redes div:nth-of-type(1n+4){
            display: none;
        }
    }
    /**/
    /*Facebook*/
.call-facebook{
    padding: 40px 0;
    background-color: #576975;
    text-align: center;
}
.call-facebook p{
    font-size: 13px;
    color: white;
    line-height: 23px;
}
    /**/
        /* Aqui termina a sessão Redes Sociais */


        /* Aqui termina a sessão Formulário */
section.formulario{
    padding: 40px 2%;
}
section.formulario > h2{
    font-size: 18px;
    color: #698293;
    text-align: center;
}
section.formulario > .box-sucess{
    display: none;
    position: relative;
    top: -40px;
    text-align: center;
    max-width: 500px;
    color: white;
    background-color: rgb(90, 224, 182);
    padding: 3px 10px;
    margin: 0 auto;
}
section.formulario form{
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
}
form div:last-child{text-align: center;}
.wrapper-form{
    float: left;
    color: #b4b4b4;
    padding: 10px;
}
.wrapper-form p{
    font-size: 15px;
}

.wrapper-form [type=text],
.wrapper-form [type=email],
.wrapper-form [type=tel]{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    border: 1px solid #dadada;
    margin-top: 9px;
}
.wrapper-form textarea{
    width: 100%;
    height: 121px;
    padding: 10px;
    resize: none;
    border: 1px solid #dadada;
}
.wrapper-form [type=submit]{
    cursor: pointer;
    width: 100px;
    height: 35px;
    background: #688293;
    color: white;
    border: 0;
    display: inline-block;
}
        /* Aqui finaliza a sessão Formulário */

        /* Aqui inicia o Footer 01 */
footer.footer-01{
    background-color: #688293;
    padding: 40px 2%;
}
.wrapper-footer{
    width: 33.3%;
    float: left;
    text-align: center;
}
.wrapper-footer h2{
    color: white;
    font-size: 18px;
    font-weight:normal;
    margin-bottom: 8px;
}
.wrapper-footer p{
    color: white;
    font-size: 14px;
    font-weight: lighter;
    line-height: 21px;
}
    /*Responsivo: Footer-01*/
    /*580px*/
    @media screen and (max-width: 580px){
        .wrapper-footer{
            width: 100%;
            float: none;
            display: inline-block;

        }
        .footer-01 .wrapper-footer:not(:nth-of-type(3)){
            margin-bottom: 30px;
        }
    }
        /* Aqui termina o Footer 01 */

        /* Aqui inicia o Footer 02 */
footer.footer-02{
    padding: 20px 0;
    background-color: #576975;
    text-align: center;
}
footer.footer-02 h3{
    color: white;
    font-size: 16px;
}

        /* Aqui termina o Footer 02 */